.page-footer {
  display: flex;
  flex-direction: column;
  margin-bottom: 22px;

  @include desktop {
    width: 92%;
    max-width: 1578px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.page-footer__menu {
  @include list-reset;

  @include tablet {
    width: 94%;
    max-width: 550px;
  }

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 78%;
  max-width: 445px;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;

  @include desktop {
    margin-left: 0;
    margin-right: 0;
    max-width: 445px;
  }
}

.page-footer__menu-link {
  @include futura-pt-demi;
  color: $color-secondary-text;
  text-decoration: none;
  font-size: 8px;
  line-height: 2.13;
  display: block;

  @include tablet {
    font-size: 12px;
    line-height: 2.08;
  }
}

.page-footer__logo {
  display: none;
  text-transform: uppercase;
  font-size: 25px;
  line-height: normal;
  letter-spacing: 8px;
  text-decoration: none;
  transition: 300ms;
  color: $color-primary-text;

  &:hover {
    opacity: 0.7;
  }

  @include desktop {
    display: block;
  }
}

.page-footer__copyright {
  @include sofia-pro;
  font-size: 8px;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: $grey;
  margin: 0;
  text-transform: none;

  @include tablet {
    font-size: 14px;
  }
}

.page-footer__wrapper {
  order: 2;

  @include desktop {
    order: 0;
  }
}
