@mixin tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}

@mixin desktop-lg {
  @media (min-width: $desktop-lg-width) {
    @content;
  }
}

@mixin retina {
  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    @content;
  }
}

@mixin retina-3x {
  @media (min-resolution: 240dpi), (min-resolution: 2.5dppx) {
    @content;
  }
}

@mixin list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin centerX {
  left: 50%;
  transform: translateX(-50%);
}

@mixin centerY {
  top: 50%;
  transform: translateY(-50%);
}

@mixin sofia-pro {
  font-family: $font-sofia, sans-serif;
  font-weight: 300;
  font-style: normal;
}

@mixin futura-pt {
  font-family: $font-futura, sans-serif;
  font-weight: 500;
  font-style: normal;
}

@mixin futura-pt-demi {
  font-family: $font-futura-demi, sans-serif;
  font-weight: 400;
  font-style: normal;
}
