$white: #ffffff;
$grey: #646464;

$color-primary-text: #000000;
$color-secondary-text: #0b0b0b;

$color-bg: #fedfc1;

$font-futura: "FuturaPT", sans-serif;
$font-futura-demi: "FuturaPT-Demi", sans-serif;
$font-sofia: "SofiaPro", sans-serif;

$tablet-width: 768px;
$desktop-width: 1300px;
$mobile-width-only: 767px;
