$white: #ffffff;
$grey: #646464;

$color-primary-text: #000000;
$color-secondary-text: #0b0b0b;

$light-peach: #fedfc1;

$font-futura: "FuturaPT", sans-serif;
$font-futura-demi: "FuturaPT-Demi", sans-serif;
$font-sofia: "SofiaPro", sans-serif;

$tablet-width: 768px;
$desktop-width: 1280px;
$desktop-lg-width: 1680px;
